body {
    margin: 0;
    background: #F1F1F1;
    line-height: 1.3;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6)
 
 }
 
 .header{
 
    
     display: grid;
     align-items: center;
 
 }
 
 
  
 
 
 a {
     color: inherit;
 }
 
 .topbar {
  background-color: rgb(247, 62, 62);
   color: rgb(250, 248, 248);
   font-size: 1.3em;
}

.topbar a {
   text-decoration: none;
}
.topbar-logo {
   display: block;
   text-align: center;
   font-size: 24px;
   line-height: 54px;
   padding: 11px 0;
}

.topbar-nav{
   text-align: center;
   padding-bottom: 16px;
}

.topbar-nav a {
   display: inline-block;
   margin: 0 12px;
   color: rgba(255, 255, 255, 0.67);
   transition: color .3s;
}

.topbar-nav a:hover,
.topbar-nav a.active {
   color: ivory;
}



.topbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 64px;
   padding: 0 25px;
}

.titre{

   text-align: center;


}
 









 
 *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 100%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
}

.container {
  width: 60%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}




 
 

































 
   .instagram2 {
         border-radius: 50%;
       }
       
       .instagram2:hover {
         animation: rotate linear 0.5s;
       }
       
       @keyframes rotate {
         0% {
           transform: rotate(0deg);
         }
         100% {
           transform: rotate(360deg);
         }
       }
   
 
 
       .facebook {
         border-radius: 50%;
       }
       
       .facebook:hover {
         animation: rotate linear 0.5s;
       }
       
       @keyframes rotate {
         0% {
           transform: rotate(0deg);
         }
         100% {
           transform: rotate(360deg);
         }
       }

       .linkedin {
        border-radius: 50%;
      }
      
      .linkedin:hover {
        animation: rotate linear 0.5s;
      }
      
      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
   footer{
 
 background-color: rgb(184, 184, 184);
 padding-bottom: 2%;
   }
 
 .footer{
 
 text-align: center;
 margin-left: 50px;
 }
 
 
 
